<div class="row justify-content-center">
    <div class="card">
        <h2 class="card-title">Algunos de mis proyectos</h2>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <a class="btn"> GitHub </a>
                </div>
                <div class="col">
                    <a class="btn"> Youtube</a>
                </div>
                <div class="col">
                    <a class="btn"> GitHub </a>
                </div>
            </div>
        </div>

    </div>
</div>