<header class="header">
    <div class="my-auto container-fluid">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-5 text-center bg-dark ">
                <h1> {{miportfolio.persona.nombre}} {{miportfolio.persona.apellido}}</h1>
                <p> {{miportfolio.educaciones[1].nivel}} </p>
            </div>
            <div class="col">
                <img class="thumbnail img-thumbnail rounded float-end" src="./assets/img/cvpic.jpeg">
            </div>
        </div>
    </div>
</header>